@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --text-decoration-color: #757575;
  --card-portfolio-gap: 30px;
  --background-color: #fff;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Roboto;
}

p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .container-footer {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .container-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

/* Кнопка */
.mobile-btn {
  fill: var(--main-color);
  border: none;
  background-color: transparent;
}

.modal-btn {
  display: block;
  font-family: inherit;
  min-width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn:hover, .modal-btn:focus {
  color: var(--background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.open-menu {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: none;
  z-index: 999;
  top: 10px;
  right: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.open-menu:hover, .open-menu:focus {
  fill: var(--accent-color);
}

.close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-menu:hover, .close-menu:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
  .close-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding: 45px 40px;
  background-color: var(--background-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* =============MODAL HERO================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 609px;
  background-color: #fff;
  padding: 40px;
}

.button-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: var(--card-portfolio-gap);
  height: var(--card-portfolio-gap);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-modal:hover .button-icon,
.close-modal:focus .button-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-decoration-color);
}

.modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.lead {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  color: var(--main-color);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal-form-policy-label {
  min-width: 370px;
  height: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  color: var(--text-decoration-color);
}

.modal-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-check:checked + .modal-form-policy-label::before {
  background-image: url("../imajes/iconcheck.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.link-policy {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.modal-form-btn {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--card-portfolio-gap);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 56px;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .lead {
    line-height: 1.15;
  }
  .modal-form-policy-label {
    min-width: 400px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    color: var(--text-decoration-color);
  }
  .modal-form-policy-label::before {
    margin-right: 8px;
  }
}

/* =============End MODAL HERO================== */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-section {
  padding-top: 60px;
  padding-bottom: var(--card-portfolio-gap);
}

.team-section {
  padding-bottom: 60px;
  padding-top: var(--card-portfolio-gap);
  background-color: #f5f4fa;
}

.about-section {
  display: none;
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-color);
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-section {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .team-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .about-section {
    display: block;
    padding-top: 47px;
    padding-bottom: 94px;
  }
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .footer, .social-list-link:focus .footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list {
  justify-content: center;
  display: flex;
}

.social-team-list {
  display: flex;
  justify-content: center;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--background-color);
}

.social-list-link:hover .social-list-icon .footer,
.social-list-link:focus .social-list-icon .footer {
  fill: var(--background-color);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .social-team-list {
    justify-content: space-between;
  }
  .social-list {
    display: inline-flex;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50px;
  text-align: center;
  color: var(--main-color);
}

.clients-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: var(--card-portfolio-gap);
  text-align: center;
  color: var(--main-color);
}

.features-title {
  min-width: 270px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
  .portfolio-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
  }
}

/* ===========HEADER=============== */
.menu-icon {
  width: 24px;
  height: 16px;
}

.close-icon {
  width: 18.67px;
  height: 18.67px;
}

.contact-list .mobile-menu {
  margin-bottom: 306px;
}

.logotipe-link {
  width: 134px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  margin-right: 88px;
  color: var(--accent-color);
}

.logotipe-link > .logotipe-part {
  color: #000000;
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: none;
}

.navigation-link.current {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .navigation-link.current {
  position: relative;
  color: var(--accent-color);
}

.navigation-list .navigation-link.current:hover, .navigation-list .navigation-link.current:focus {
  color: var(--accent-color);
}

.navigation-link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover, .navigation-link:focus {
  color: var(--accent-color);
}

.navigation-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation-list-item:last-child {
  margin-bottom: 302px;
}

.contact-list {
  display: block;
  margin-bottom: 64px;
}

.contact-list::before {
  content: "";
}

.contact-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mailto-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--text-decoration-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto-link:hover, .mailto-link:focus {
  color: var(--accent-color);
}

.tel-link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-menu {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .navigation-list-item:last-child {
    margin-bottom: 0;
  }
  .navigation-link.current {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
  }
  .navigation-list .navigation-link.current::after {
    position: absolute;
    display: block;
    top: 76px;
    content: "";
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
  }
  .contact-list {
    display: block;
    margin-left: 84px;
    margin-bottom: 0;
  }
  .contact-list::before {
    content: "";
  }
  .contact-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .mailto-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
    padding-top: 21px;
  }
  .tel-link {
    display: flex;
    align-items: center;
    padding-bottom: 21px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
    color: var(--text-decoration-color);
  }
  .tel-link:hover, .tel-link:focus {
    color: var(--accent-color);
  }
  .phone-list-icon {
    display: flex;
    width: 10px;
    height: 14px;
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--text-decoration-color);
  }
  .tel-link:hover .phone-list-icon,
  .tel-link:focus .phone-list-icon {
    fill: var(--accent-color);
  }
  .mail-list-icon {
    display: flex;
    width: 14px;
    height: 10px;
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--text-decoration-color);
  }
  .mailto-link:hover .mail-list-icon,
  .mailto-link:focus .mail-list-icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .logotipe-link {
    width: 145px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
  }
  .contact-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 305px;
    list-style: none;
  }
  .contact-list-item:not(:last-child) {
    margin-right: var(--card-portfolio-gap);
    margin-bottom: 0;
  }
  .mailto-link {
    display: flex;
    align-items: center;
    min-width: 135px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .tel-link {
    display: flex;
    align-items: center;
    min-width: 122px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
  }
  .phone-list-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-list-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  /* ===========END HEADER=============== */
}

/* ============HERO=============== */
.container-hero {
  width: 100%;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/bg-mobile.jpg");
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/bg-mobile@2x.jpg");
  }
}

.hero-title {
  width: 100%;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.363;
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    min-width: 768px;
    padding: 118px 60px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/bg-tablet.jpg");
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    min-width: 1200px;
    height: 600px;
    padding: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/img.jpg");
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/img@2x.jpg");
  }
}

/* ============ END HERO=============== */
/* =============FEATURES============ */
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-decoration-color);
}

.item::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  margin-bottom: var(--card-portfolio-gap);
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
}

.item {
  margin-bottom: var(--card-portfolio-gap);
}

.item:last-child {
  margin-bottom: 0;
}

.icon-antenna::before {
  background-image: url(../imajes/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../imajes/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../imajes/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../imajes/icons/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    width: 354px;
    margin-right: var(--card-portfolio-gap);
  }
  .item:nth-child(n + 3) {
    margin-bottom: 0;
  }
  .item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features-list .item {
    flex-basis: calc(100% / 4 - 30px);
  }
  .features-list {
    flex-wrap: nowrap;
  }
  .item:not(:last-child) {
    margin-right: var(--card-portfolio-gap);
  }
  .item {
    margin-bottom: 0;
  }
}

/* =============ABOUT================== */
@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-img {
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
  }
  .about-item {
    flex-basis: calc(100% / 3 - 30px);
  }
  .about-item:not(:last-child) {
    margin-right: var(--card-portfolio-gap);
  }
  .about-content {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 27px 83px;
    background: rgba(47, 48, 58, 0.8) 80%;
  }
  .label {
    position: absolute;
    width: 100%;
    height: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    color: var(--background-color);
  }
  .about-img-wrap {
    position: relative;
    overflow: hidden;
  }
}

/* =============END ABOUT================== */
/* ===============TEAM==================== */
.team-title {
  min-width: 151px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  margin-bottom: 10px;
  line-height: 1.187;
  text-align: center;
  color: var(--main-color);
}

.team-list-content-wrapper {
  padding-top: var(--card-portfolio-gap);
  padding-left: 32px;
  padding-right: 32px;
}

.team-description {
  min-width: 130px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  color: var(--text-decoration-color);
}

.team-item {
  padding-bottom: 24px;
  width: 100%;
  margin-bottom: var(--card-portfolio-gap);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--background-color);
}

.team-item:last-child {
  margin-bottom: 0;
}

.team-item .team-list-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-description {
    min-width: 76px;
  }
  .team-item {
    margin-right: var(--card-portfolio-gap);
    flex-basis: calc(100% / 2 - 30px);
  }
  .team-item:nth-child(n + 3) {
    margin-bottom: 0;
  }
  .team-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-description {
    min-width: 147px;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .team-item {
    margin-bottom: 0;
    padding-bottom: var(--card-portfolio-gap);
    flex-basis: calc(100% / 4 - 30px);
  }
  .team-item:not(:last-child) {
    margin-right: var(--card-portfolio-gap);
  }
}

/* ===============END TEAM==================== */
/* ===============OUR CLIENTS==================== */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-item {
  margin-top: var(--card-portfolio-gap);
  margin-left: var(--card-portfolio-gap);
  flex-basis: calc(100% / 2 - 30px);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
}

.icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
  .clients-item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

@media screen and (min-width: 320px) {
  .portfolio-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 24px;
    background: rgba(33, 150, 243, 0.9) 90%;
    opacity: 0;
    transition: 700ms;
    transform: translatey(100%);
  }
  .section-link:hover .portfolio-content,
  .section-link:focus .portfolio-content {
    opacity: 1;
    transform: translatey(0);
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .section-link {
    display: block;
  }
  .portfolio-box .section-link:hover,
  .portfolio-box .section-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    color: var(--text-decoration-color);
  }
  .nav-portfolio-item:not(:last-child) {
    margin-right: 8px;
  }
  .nav-portfolio-item:nth-child(-n + 3) {
    margin-bottom: 10px;
  }
  .portfolio-item {
    cursor: pointer;
  }
  .portfolio-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .items-descriptions {
    padding: 20px 24px;
    box-sizing: border-box;
    background: var(--background-color);
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  .portfolio-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    background: rgba(33, 150, 243, 0.9) 90%;
    opacity: 0;
    transition: 700ms;
    transform: translatey(100%);
  }
  .section-link:hover .portfolio-content,
  .section-link:focus .portfolio-content {
    opacity: 1;
    transform: translatey(0);
  }
  .overlay {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    color: var(--background-color);
  }
  .portfolio-img-wrap {
    position: relative;
    overflow: hidden;
  }
  .portfolio-btn {
    font-family: inherit;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    border: transparent;
    background-color: #f5f4fa;
    color: var(--main-color);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-btn:hover, .portfolio-btn:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 480px) {
  .section-link {
    display: block;
  }
  .portfolio-box .section-link:hover,
  .portfolio-box .section-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .portfolio-description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    color: var(--text-decoration-color);
  }
  .nav-portfolio-item:not(:last-child) {
    margin-right: 8px;
  }
  .nav-portfolio-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  .portfolio-item {
    cursor: pointer;
  }
  .portfolio-item:not(:last-child) {
    margin-bottom: var(--card-portfolio-gap);
  }
  .items-descriptions {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    box-sizing: border-box;
    background: var(--background-color);
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  .portfolio-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 64px 24px;
    background: rgba(33, 150, 243, 0.9) 90%;
    opacity: 0;
    transition: 700ms;
    transform: translatey(100%);
  }
  .section-link:hover .portfolio-content,
  .section-link:focus .portfolio-content {
    opacity: 1;
    transform: translatey(0);
  }
  .overlay {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.556;
    color: var(--background-color);
  }
  .portfolio-img-wrap {
    position: relative;
    overflow: hidden;
  }
  .portfolio-btn {
    font-family: inherit;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    border: transparent;
    background-color: #f5f4fa;
    color: var(--main-color);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-btn:hover, .portfolio-btn:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 768px) {
  .nav-portfolio-item:nth-child(-n + 5) {
    margin-bottom: 0;
  }
  .portfolio-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-portfolio-gap));
    margin-left: calc(-1 * var(--card-portfolio-gap));
  }
  .portfolio-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 2.118;
  }
  .portfolio-list {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    justify-content: center;
  }
  .portfolio-item {
    margin-top: var(--card-portfolio-gap);
    margin-left: var(--card-portfolio-gap);
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-bottom: 50px;
  }
  .portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

/* ===============PORTFOLIO==================== */
/* ===============END PORTFOLIO==================== */
/* ===============FOOTER==================== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logotipe-link {
  display: block;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  color: var(--accent-color);
  text-decoration: none;
}

.footer-item {
  margin-bottom: 20px;
}

.footer-item-address:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-list .footer-mailto-link,
.footer-address-list .footer-tel-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-map {
  width: 232px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  color: var(--background-color);
}

.footer-logotipe-link > .logotipe-part {
  color: var(--background-color);
}

.address-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-mailto-link {
  width: 232px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mailto-link:hover, .footer-mailto-link:focus {
  color: var(--accent-color);
}

.footer-tel-link {
  width: 232px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel-link:hover, .footer-tel-link:focus {
  color: var(--accent-color);
}

.footer-address-list .footer-tel-link:hover, .footer-address-list .footer-tel-link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-first-side {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.footer-list-second-side {
  text-align: center;
  margin-bottom: 60px;
}

.footer-title {
  display: block;
  min-width: 146px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--background-color);
}

.footer-lead {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);
}

.footer-form-input {
  display: block;
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
  border-color: #2196f3;
}

.button {
  align-items: center;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus, .button:hover {
  background-color: #188ce8;
}

.footer-form .footer-form-btn {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer-form-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--background-color);
}

.footer-list-icon {
  fill: var(--background-color);
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    height: 468px;
  }
  .footer-item {
    margin-bottom: var(--card-portfolio-gap);
  }
  .footer-map,
  .footer-mailto-link,
  .footer-tel-link {
    text-align: center;
  }
  .footer-logotipe-link {
    height: 28px;
    text-align: center;
  }
  .footer-list-first-side {
    width: 355px;
    margin-bottom: 0;
  }
  .footer-list-second-side {
    width: 355px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-list-third-side {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--background-color);
  }
  .footer-form-input {
    width: 482px;
  }
  .footer-form .footer-form-btn {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
  .footer-item {
    margin-bottom: 20px;
  }
  .address-contact {
    align-items: flex-start;
  }
  .footer-logotipe-link {
    height: 31px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    text-align: left;
  }
  .footer-map,
  .footer-mailto-link,
  .footer-tel-link {
    width: 231px;
    text-align: left;
  }
  .footer-title {
    text-align: left;
    min-width: 145px;
  }
  .footer-list-first-side {
    text-align: left;
    flex-direction: column;
    width: 270px;
  }
  .footer-list-second-side {
    text-align: left;
    width: 270px;
  }
  .footer-list-third-side {
    margin-top: 0;
    width: 570px;
    margin-right: 0;
  }
  .button {
    margin-left: 12px;
  }
  .footer-lead {
    text-align: left;
  }
  .footer-form {
    display: flex;
  }
  .footer-form-input {
    width: 370px;
  }
  .footer-form .footer-form-btn {
    margin-top: 0;
    margin-left: 12px;
  }
}
/*# sourceMappingURL=main.css.map */