/* ===============FOOTER==================== */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    height: 468px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    height: 252px;
  }
}

.address {
  text-align: center;
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-map {
  width: 232px;
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list-first-side .footer-logotipe-link {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logotipe-link {
  width: 154px;
  height: 28px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  text-align: center;
}

.footer-logotipe-link > .logotipe-part {
  color: #ffffff;
}

.address-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-mailto-link {
  width: 232px;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }

  .footer-address-list & {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-tel-link {
  display: block;
  width: 232px;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;

    .footer-address-list & {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.footer-list-first-side {
  text-align: center;
  margin-bottom: 60px;
}

.footer-list-second-side {
  text-align: center;
  margin-bottom: 60px;
}

.footer-title {
  display: block;
  min-width: 146px;
  height: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-lead {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-input {
  display: block;
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: #2196f3;
  }
}

.button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}

.footer-form .footer-form-btn {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer-form-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.footer-list-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-map {
    width: 232px;
  }

  .address {
    margin-bottom: 0;
  }

  .footer-logotipe-link {
    width: 154px;
    height: 28px;
  }

  .footer-list-first-side {
    width: 355px;
    margin-bottom: 0;
  }

  .footer-list-second-side {
    width: 355px;
    margin-bottom: 0;
  }

  .footer-list-third-side {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .footer-form-input {
    width: 482px;
  }

  .footer-form .footer-form-btn {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .address-contact {
    align-items: flex-start;
  }

  .footer-map {
    width: 231px;
    margin-bottom: 9px;
  }

  .footer-logotipe-link {
    width: 145px;
    height: 31px;
    font-size: 26px;
    line-height: 1.192;
  }
  .footer-mailto-link {
    width: 231px;
    margin-bottom: 9px;
  }

  .footer-tel-link {
    width: 231px;
  }

  .footer-title {
    text-align: left;
    min-width: 145px;
  }

  .footer-list-first-side {
    text-align: left;
    flex-direction: column;
    width: 270px;
    margin-bottom: 0;
  }

  .footer-list-second-side {
    text-align: left;
    width: 270px;
    margin-bottom: 0;
  }

  .footer-list-third-side {
    width: 570px;
  }

  .button {
    margin-left: 12px;
  }

  .footer-lead {
    text-align: left;
  }

  .footer-form {
    display: flex;
  }

  .footer-form-input {
    width: 370px;
  }

  .footer-form .footer-form-btn {
    margin-top: 0;
    margin-left: 12px;
  }
}

// .footer {
//   display: flex;
//   height: 252px;
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: #2f303a;
// }

// .container-footer {
//   display: flex;
// }

// .address {
//   margin-top: 20px;
// }

// .footer-map {
//   display: block;
//   width: 231px;
//   font-style: normal;
//   font-weight: normal;
//   margin-bottom: 9px;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
//   color: #ffffff;
// }

// .footer-logotipe-link {
//   display: block;
//   width: 145px;
//   height: 31px;
//   font-family: Raleway;
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1.192;
//   letter-spacing: 0.03em;
//   color: var(--accent-color);
//   text-decoration: none;
// }
// .footer-logotipe-link > .logotipe-part {
//   color: #ffffff;
// }

// .footer-mailto-link {
//   display: block;
//   width: 231px;
//   font-weight: 500;
//   font-size: 14px;
//   margin-bottom: 9px;
//   font-style: normal;
//   line-height: 1.142;
//   letter-spacing: 0.02em;
//   color: var(--text-decoration-color);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//     outline: none;

//     .footer-address-list & {
//       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//   }
// }

// .footer-tel-link {
//   display: block;
//   width: 231px;
//   font-weight: 500;
//   font-weight: 500;
//   font-size: 14px;
//   font-style: normal;
//   line-height: 1.172;
//   letter-spacing: 0.02em;
//   color: var(--text-decoration-color);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//     outline: none;

//     .footer-address-list & {
//       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//   }
// }

// .footer-list-first-side {
//   flex-direction: column;
//   width: 270px;
// }

// .footer-list-second-side {
//   width: 270px;
// }

// .footer-title {
//   min-width: 145px;
//   height: 16px;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.03em;
//   margin-left: 10px;
//   margin-bottom: 20px;
//   text-transform: uppercase;
//   color: #ffffff;
// }

// .footer-list-third-side {
//   width: 570px;
// }

// .footer-form {
//   display: flex;
// }

// .footer-lead {
//   display: block;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.03em;
//   margin-bottom: 20px;
//   text-transform: uppercase;
//   color: #ffffff;
// }

// .footer-form-input {
//   width: 370px;
//   height: 50px;
//   padding-left: 16px;
//   color: rgba(255, 255, 255, 0.6);
//   background-color: #2f303a;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-sizing: border-box;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   outline: none;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:focus {
//     border-color: #2196f3;
//   }
// }

// .button {
//   display: flex;
//   align-items: center;
//   width: 200px;
//   height: 50px;
//   margin-left: 12px;
//   padding-left: 28px;
//   padding-right: 28px;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 1.875;
//   letter-spacing: 0.06em;
//   color: #ffffff;
//   background: #2196f3;
//   color: #ffffff;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: 0;
//   cursor: pointer;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:focus,
//   &:hover {
//     background-color: #188ce8;
//   }
// }

// .footer-form-icon {
//   margin-left: 10px;
//   width: 24px;
//   height: 24px;
//   fill: #ffffff;
// }
