/* ============HERO=============== */

.container-hero {
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/bg-mobile.jpg");
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/bg-mobile@2x.jpg");
  }
}

.hero-title {
  width: 100%;
  font-weight: 900;
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.615;
  }
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.363;
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    min-width: 768px;
    padding: 118px 60px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/bg-tablet.jpg");
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    min-width: 1200px;
    padding: 118px 60px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/img.jpg");
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/img@2x.jpg");
  }
}

// .hero-content {
//   width: 696px;
//   margin-right: auto;
//   margin-left: auto;
// }

// .hero {
//   display: flex;
//   content: "";
//   max-width: 1600px;
//   height: 600px;
//   margin-right: auto;
//   margin-left: auto;
//   align-items: center;
//   text-align: center;
//   background-color: #2f303a;
//   background-repeat: no-repeat;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imajes/hero/img.jpg");
//   background-size: cover;
// }

/* ============ END HERO=============== */
