/* ===============TEAM==================== */

.team-title {
  min-width: 151px;
  @include font(16px, 500, 19px);
  margin-bottom: 10px;
  line-height: 1.187;
  text-align: center;
  color: var(--main-color);
}

.team-list-content-wrapper {
  padding-top: var(--card-portfolio-gap);
  padding-left: 32px;
  padding-right: 32px;
}

.team-description {
  min-width: 130px;
  @include font(16px, 400, 19px);
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  color: var(--text-decoration-color);
}

.team-item {
  padding-bottom: 24px;
  width: 100%;
  margin-bottom: var(--card-portfolio-gap);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--background-color);

  &:last-child {
    margin-bottom: 0;
  }

  .team-list-item:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-description {
    min-width: 76px;
  }
  .team-item {
    margin-right: var(--card-portfolio-gap);
    flex-basis: calc(100% / 2 - 30px);
  }

  .team-item:nth-child(n + 3) {
    margin-bottom: 0;
  }

  .team-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-description {
    min-width: 147px;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-item {
    margin-bottom: 0;
    padding-bottom: var(--card-portfolio-gap);
    flex-basis: calc(100% / 4 - 30px);
  }
  .team-item:not(:last-child) {
    margin-right: var(--card-portfolio-gap);
  }
}

// .team-list {
//   display: flex;
//   flex-wrap: nowrap;
// }

// .team-item {
//   padding-bottom: 30px;
//   flex-basis: calc(100% / 4 - 30px);
//   border-radius: 0px 0px 4px 4px;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//   background: #ffffff;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .team-section {
//   padding-bottom: 94px;
//   padding-top: 94px;
//   background-color: #f5f4fa;
// }

// .team-title {
//   min-width: 151px;
//   height: 19px;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   margin-bottom: 10px;
//   line-height: 1.187;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--main-color);
// }

// .team-description {
//   min-width: 147px;
//   height: 19px;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   margin-top: 0;
//   margin-bottom: 16px;
//   line-height: 1.187;
//   text-align: center;
//   letter-spacing: 0.03em;
// }

// .team-list-content-wrapper {
//   padding-top: 30px;
//   padding-left: 32px;
//   padding-right: 32px;
// }

/* ===============END TEAM==================== */
