.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-section {
  padding-top: 60px;
  padding-bottom: var(--card-portfolio-gap);
}

.team-section {
  padding-bottom: 60px;
  padding-top: var(--card-portfolio-gap);
  background-color: #f5f4fa;
}

.about-section {
  display: none;
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-color);
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .features-section {
    padding-top: 94px;
    padding-bottom: 47px;
  }

  .team-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  .about-section {
    display: block;
    padding-top: 47px;
    padding-bottom: 94px;
  }

  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
