.title {
  min-width: 205px;
  font-weight: 700;
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 30px;
  line-height: 1.178;
  text-align: center;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .title {
    min-width: 264px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.clients-title {
  min-width: 314px;
  font-weight: 700;
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 30px;
  line-height: 1.178;
  text-align: center;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .about-title {
    min-width: 376px;
    font-weight: 700;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 50px;
    line-height: 1.166;
    text-align: center;
    color: var(--main-color);
  }
  .clients-title {
    min-width: 390px;
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}
