.title {
  @include font(36px, 700, 42px);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50px;
  text-align: center;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.166;
  }
}

.clients-title {
  @include font(28px, 700, 33px);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: var(--card-portfolio-gap);
  text-align: center;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}
