.title {
  min-width: 376px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 30px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
